@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMDcyMzcyNi1mZWRlcmljbzpIaEFPNjVZaXl4czlrOTU2UVFGdTRzUnhBaXBoSmUybA==
always-auth=true